:root {
  --color-1-theme-1: #e1dcd8;
  --color-2-theme-1: #dfceb1;
  --color-3-theme-1: #938e67;
  --color-4-theme-1: #aa7c6b;
  --color-5-theme-1: #7c4d46;
  --color-6-theme-1: #342222;

  --color-1-theme-2: #fcf8eb;
  --color-2-theme-2: #f4d1d7;
  --color-3-theme-2: #32556b;
  --color-4-theme-2: #63aac8;
  --color-5-theme-2: #aad2e4;
  --color-6-theme-2: #e8e7f2;
}

* {
  font-family: 'League Spartan', sans-serif;
}

.page {
  padding: 0;
  margin: 0;
  background-color: var(--color-5-theme-1);
}

.page-alt {
  background-color: var(--color-1-theme-2);
}

.container {
  width: 460px;
  margin: 10vh auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

.calculator-grid {
  padding: 20px;
  background-color: var(--color-4-theme-1);
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(5, 50px);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  border-radius: 10px;
}

.calculator-grid-alt {
  background-color: var(--color-5-theme-2);
}

.display {
  margin: 0 auto 10px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 460px;
  grid-template-rows: minmax(110px, auto);
}

.button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  transition: all .5s;
  border: 0;
  border-radius: 10px;
  background-color: var(--color-1-theme-1);
  color: var(--color-6-theme-1);
}

.button-alt {
  background-color: var(--color-6-theme-2);
  color: var(--color-3-theme-2);
}

.calculator-grid button:hover {
  opacity: .6;
}

.span-two {
  grid-column: span 2;
}

.output {
  box-sizing: border-box;
  grid-column: 1 / -1;
  background-color: var(--color-6-theme-1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 10px;
}

.output-alt {
  background-color: var(--color-3-theme-2);
}

.output .previous-operand {
  color: rgba(255, 255, 255, .7);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.switch-btn {
  display: inline-block;
  width: 72px; /* ширина */
  height: 38px; /* высота */
  border-radius: 19px; /* радиус скругления */
  background: linear-gradient(to right, #7f7f7f 0, #bfbfbf 40%, #7fd03e 60%, #118c4e 100%);
  background-size: 180px 100%;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}

.switch-btn::after {
  content: "";
  height: 32px; /* высота кнопки */
  width: 32px; /* ширина кнопки */
  border-radius: 17px;
  background: #fff; /* цвет кнопки */
  top: 3px; /* положение кнопки по вертикали относительно основы */
  left: 3px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background-position-x: -100px;
}
.switch-on::after {
  left: 37px;
}



